.container{
    width: 100%;
    height: 60px;
    display: flex;
}
.logo{
    width: 100px;
    height: 100%;
    background-color: white;
    margin-left: 100px;
}

.sections{
    width: 60%;
    display: flex;
    color: white;
    /* border: 1px solid red; */
    margin-left: 300px;
    
}
.sections>p{
    margin-left: 30px;
    cursor: pointer;
    font-size: 17px;
}

.sections>button{
    height: 80%;
    padding: 5px 15px;
    margin-top:5px;
    margin-left: 20px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
}